/* a has only got a P tag association -> this means only Paragraphs  an use this class! */
p.a{
    color: blue;
    font-size: 30px;
}
/* b has no tag so it can be used with anything*/
.b{
    color: red;
}

.c{
    margin-left: 15%;
}

body {
    background-color: lightseagreen;
  }

p.d{
    font-size: 50px;
}